@model MiamiApp.Web.Controllers.TagCanvasViewModel
@{
    ViewBag.Title = "TagCanvas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tag Canvas</h2>
<p> This canvas was registed for the tag @ViewBag.TagName</p>
