<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		
		<add key="DbConnString" value="server=3069420b-f1e2-40a8-b8e0-a08300fdc045.mysql.sequelizer.com;database=db3069420bf1e240a8b8e0a08300fdc045;uid=tdiznkokhqbzmsbd;pwd=V2hSQDt2scqbWt2FXHutEj72YQQpWYBbGb3nQNsqWALCgGJ6UCg4wQKK3o3aWedB;" />
		<!--<add key="DbConnString" value="server=shavrir2;port=3306;database=dreamboards;uid=root;pwd=MF12345;" />-->

		<!--<add key="DreamBoardsDomain" value="http://dreamboards:777" />-->
		<add key="DreamBoardsDomain" value="http://dreamboards-1.apphb.com" />
		<add key="BoardImagesLibrary" value="UGC/board_images"/>
		<add key="ItemImagesLibrary" value="UGC/items" />
  </appSettings>

	
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>

		<customErrors mode="Off">

		</customErrors>
  </system.web>

	<system.webServer>
		<httpProtocol allowKeepAlive="false"/>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="ScriptModule"/>
			<remove name="UrlRoutingModule"/>
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<remove name="UrlRoutingHandler"/>
			<add name="jpg" path="*.jpg" verb="GET" modules="StaticFileModule" scriptProcessor="" resourceType="File" requireAccess="Script"/>
			<add name="js" path="*.js" verb="GET" modules="StaticFileModule" scriptProcessor="" resourceType="File" requireAccess="Script"/>
			<add name="css" path="*.css" verb="GET" modules="StaticFileModule" scriptProcessor="" resourceType="File" requireAccess="Script"/>
			<add name="png" path="*.png" verb="GET" modules="StaticFileModule" scriptProcessor="" resourceType="File" requireAccess="Script"/>
			<add name="gif" path="*.gif" verb="GET" modules="StaticFileModule" scriptProcessor="" resourceType="File" requireAccess="Script"/>
			<add name="ico" path="*.ico" verb="GET" modules="StaticFileModule" scriptProcessor="" resourceType="File" requireAccess="Script"/>
			<add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</handlers>
		
	</system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
