@using DreamBoards.Domain.Tags
@using DreamBoards.Domain.User
@using DreamBoards.Domain.Tags
@using DreamBoards.Domain.User
@model DreamBoards.Web.ViewModels.LandingPageViewModel
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Landing page</h2>

Create a new board: <br/>
Name<input type="text" id="board-name"/><br/>
Description<input type="text" id="board-description"/><br/>
		   
<span class="create-board action-buttons">Create</span>