@using DreamBoards.Web.Services
@model DreamBoards.Web.ViewModels.LandingPageViewModel
@{
	ViewBag.Title = "DreamBoards | Create your own DreamBoard";
	ViewBag.BodyId = "landing-page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	
	<div class="install-app border"></div>
	
	<script language="javascript" type="text/javascript">
		$(function() {
			$('.install-app').click(function() {
				window.top.location.href = "@Model.SignInUrl";
			});
		});
	</script>

</div>