@using DreamBoards.Web.Services
@model DreamBoards.Web.ViewModels.LandingPageViewModel
@{
	ViewBag.Title = "DreamBoards | Create your own DreamBoard";
	ViewBag.BodyId = "landing-page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	
	

</div>