
.left-section { width: 660px;display: inline-block;height: 660px; }
.right-section { width: 460px;height: 660px;margin-left: 30px; }

/* left section */
.logo { background-image: url("../../static/img/logo.png");display: inline-block;width: 255px;height: 46px; }
#canvas-page .header { position: relative;margin-bottom: 10px;height: 55px; }
#canvas-page .logo { cursor: pointer;}
.header .action-buttons {width: 268px; color: #767676;position: absolute;bottom: 0;right: 0; }
.canvas { height: 600px;border:dashed 2px #C60050;position: relative;background-color: white;overflow: hidden;}
.canvas .teaser { color: #AAAAAA;font-size: 30px;margin-top: 200px;text-align: center; }
.canvas .thumbnail-container { border: none;}
.canvas .thumbnail-container.selected { border: solid 1px grey;}
.canvas .canvas-buttons { z-index: 1000;position: absolute;right: 5px;top: 5px; }
.canvas .canvas-buttons .action-button { opacity: 0.5;background-color: #b6b6b6;border: solid 1px grey;color: black;cursor: pointer;font-size: 14px;height: 20px;padding-top: 2px;text-align: center;width: 140px;margin-bottom: 5px;}
.canvas:hover .canvas-buttons .action-button { opacity: 0.8;}


/* right section */
.browse-section { background-color: #EDEDED;width: 450px;height: 600px; }
.category-browser { height: 50px;margin-left: 30px;padding-top: 20px;}
#canvas-page .category-browser { height: 75px;padding-top: 0;}
.items-container { padding-left: 15px;overflow-y: scroll;height: 500px; }
.items-container .product-thumbnail { padding: 2px;cursor: pointer; }
.items-container .product-thumbnail.selected { border: dashed 2px #C60050;padding: 0; }
.thumbnail-container { border: solid 1px grey;padding: 0px;display: inline-block;font-size: 0;margin-right: 10px;margin-bottom: 10px;cursor: pointer;}
.thumbnail { width: 90px;height: 90px; }
.product-thumbnail { display: inline-block;margin-right: 10px;margin-bottom: 10px;}
.product-thumbnail img { width: 90px;height: 90px;cursor: pointer;}
.template-browse-section { background-color: #EDEDED;height: 130px;width: 432px;padding: 10px;margin-top: 20px;}
.template-browse-section .template-viewport { height: 118px;overflow-x: scroll;width: 432px; } 
.template-browse-section .template-viewport .templates-list { height: 100px;width: 600px; }
.template-browse-section .template-container { display: inline-block; }
.template-browse-section .template-container .template { width: 90px;height: 90px;border: solid 1px grey;cursor: pointer;}
.template-none { font-size: 12px;color: grey;text-decoration: underline;cursor: pointer; }
.template-none:hover { text-decoration: none;}

/* basic details form */
.basic-details { padding: 5px; }
.basic-details .label { width: 120px;font-weight: bold; }
.basic-details .input { width: 525px;padding: 2px;font-size: 14px; }
.basic-details .input input, .basic-details .input textarea { width: 525px;border: solid 1px grey; }


.ui-draggable-dragging { opacity: 0.6; }