
* {	font-family	: Trebuchet MS, Arial; font-size:inherit; color:inherit; font-weight:normal; }
html, body, div, h1, h2, h3, h4, h5, h6, p, object, iframe, blockquote, pre, ul, ol, li, 
span, button, img, q, a, strong, cite, form,
table, caption, tbody, tfoot, thead, tr, th, td, hr,
input, select, textarea, fieldset { margin:0;padding:0;border:0;outline:0;vertical-align:baseline; }


body { padding: 10px;background-color: #F7F7F6; }
select { border: solid 1px grey;}

.float { float: left; }
.float-right { float: right; }
.breaker { clear: both; }
.hidden { display: none; }
.invisible { visibility: hidden; }


.round-corners { -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; }
.action-link { cursor: pointer; }
.action-link:hover { text-decoration: underline;}


.thumbnail.loading { opacity: 0.5; }
.thumbnail-container .loader { background-image: url(../../static/img/ajax-loader.gif);position: absolute;bottom: 50px;right: 50px;width: 64px;height: 64px;display: inline-block; }

.canvas.loading { opacity: 0.5; }

.header .loader { display: inline-block;width: 55px;height: 55px;background-image: url("../../static/img/ajax-loader.gif"); }